<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
  <servlet>
    <servlet-name>HelloWorldExample</servlet-name>
    <servlet-class>HelloWorldExample</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloWorldExample</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>SessionExample</servlet-name>
    <servlet-class>SessionExample</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SessionExample</servlet-name>
    <url-pattern>/sessionexample/</url-pattern>
  </servlet-mapping>
</web-app>
